body {
    background-color: #ccdcee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23d9b662' fill-opacity='0.53' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.jumbotron {
    background: darkslategray;
    color: aliceblue;
    border: 3px solid firebrick;
    border-radius: 25px;
    margin: 10px;
}
.display-4{
    font-size: 45px;
}
#header {
    background: darkslategray;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    border: 3px solid firebrick;
    margin: 15px;
}
#database-head{
    background: darkslategray;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    border:  3px solid firebrick;
    margin: 15px;
}

.list-group-item {
  line-height: 2.5;
  background: whitesmoke;
  color: darkslategray;
  border: 3px solid firebrick;
  padding: 5px;
  margin: 10px;
  float: left;
}
.app-login img {
    max-width: 50%;
}
.app-login a {
    text-decoration: none;
}
.no-aficionado #add-lh-btn, .no-aficionado #log-out {
    display: none;
}
.aficionado #log-out {
    display: inline;
}
.aficionado #log-in, .aficionado #register {
    display: none;
} 
#lighthouses {
    display: flex;
}
#lighthouses .card {
    position: relative;
}
#lighthouses .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .5s ease;
}
#lighthouses .card:hover .favorite {
    opacity: 1;
}
.card .favorite:hover {
    cursor: pointer;
}
#lighthouse-wrapper .prev-wrapper, #lighthouse-wrapper .next-wrapper {
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    z-index: 1;
    font-size: 35px;
    color: #fff;
    padding: 0 5px;
}
.prev-wrapper:hover, .next-wrapper:hover {
    cursor: pointer;
}
#lighthouse-wrapper .prev-wrapper {
    left: 15px;
}
#lighthouse-wrapper .next-wrapper {
    right: 15px;
}

