.list-group-item {
  line-height: 2.5;
}
.app-login img {
    max-width: 50%;
}
.app-login a {
    text-decoration: none;
}
.no-aficionado #add-lh-btn, .no-aficionado #log-out {
    display: none;
}
.aficionado #log-out {
    display: inline;
}
.aficionado #log-in, .aficionado #register {
    display: none;
} 
#lighthouses {
    display: flex;
}
#lighthouses .card {
    position: relative;
}
#lighthouses .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .5s ease;
}
#lighthouses .card:hover .favorite {
    opacity: 1;
}
.card .favorite:hover {
    cursor: pointer;
}
#lighthouse-wrapper .prev-wrapper, #lighthouse-wrapper .next-wrapper {
    position: absolute;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    z-index: 1;
    font-size: 35px;
    color: #fff;
    padding: 0 5px;
}
.prev-wrapper:hover, .next-wrapper:hover {
    cursor: pointer;
}
#lighthouse-wrapper .prev-wrapper {
    left: 15px;
}
#lighthouse-wrapper .next-wrapper {
    right: 15px;
}